# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# pure files we don't care about
public/pure-release-1.0.0/HISTORY.md
public/pure-release-1.0.0/LICENSE.md
public/pure-release-1.0.0/README.md
public/pure-release-1.0.0/base-context-min.css
public/pure-release-1.0.0/base-context.css
public/pure-release-1.0.0/base-min.css
public/pure-release-1.0.0/base.css
public/pure-release-1.0.0/bower.json
public/pure-release-1.0.0/buttons-core-min.css
public/pure-release-1.0.0/buttons-core.css
public/pure-release-1.0.0/buttons-min.css
public/pure-release-1.0.0/buttons.css
public/pure-release-1.0.0/forms-min.css
public/pure-release-1.0.0/forms-nr-min.css
public/pure-release-1.0.0/forms-nr.css
public/pure-release-1.0.0/forms.css
public/pure-release-1.0.0/grids-core-min.css
public/pure-release-1.0.0/grids-core.css
public/pure-release-1.0.0/grids-min.css
public/pure-release-1.0.0/grids-responsive-old-ie-min.css
public/pure-release-1.0.0/grids-responsive-old-ie.css
public/pure-release-1.0.0/grids-responsive.css
public/pure-release-1.0.0/grids-units-min.css
public/pure-release-1.0.0/grids-units.css
public/pure-release-1.0.0/grids.css
public/pure-release-1.0.0/menus-core-min.css
public/pure-release-1.0.0/menus-core.css
public/pure-release-1.0.0/menus-dropdown-min.css
public/pure-release-1.0.0/menus-dropdown.css
public/pure-release-1.0.0/menus-horizontal-min.css
public/pure-release-1.0.0/menus-horizontal.css
public/pure-release-1.0.0/menus-min.css
public/pure-release-1.0.0/menus-scrollable-min.css
public/pure-release-1.0.0/menus-scrollable.css
public/pure-release-1.0.0/menus-skin-min.css
public/pure-release-1.0.0/menus-skin.css
public/pure-release-1.0.0/menus.css
public/pure-release-1.0.0/pure-nr-min.css
public/pure-release-1.0.0/pure-nr.css
public/pure-release-1.0.0/pure.css
public/pure-release-1.0.0/tables-min.css
public/pure-release-1.0.0/tables.css
pure-release*.zip

